@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
}


/* notifier & nav part */
.notifier{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: .4rem;
}
.notification{
    color: white;
    font-weight: 600;
    font-size: .8rem;
}
.navigation{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: .8rem;
    justify-content: space-between;
}
.navbar{
    margin-top: auto;
    margin-bottom: auto;
}
.navbar a{
    color: black;
    margin-left: 2rem;
    font-weight: 300;
}
.icons{
    display: flex;

}
.icons div{
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}
.menu-img{
    display: none;
    padding-top: .4rem;
}
.bag-img{
    padding-top: .4rem;
}
.search-box{
    border: none;
}
.search_container{
    border: solid #707070 .1rem;
    padding: .5rem .5rem;
}
.search_container label{
    color: #9A9A9A;
}





/* hero */




.banner_mobile{
    display: none;
}
.banners{
    display: flex;
}


.banner_info{
    background-color: rgb(255, 255, 255);
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position:relative;
    top:-8rem;
    margin: auto;
}
.p1{
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: .2rem;
}
.p2{
    font-size: .8rem;
    font-weight: 300;
}
.p2 span{
    text-decoration: underline;
}

/* shop */
.shop_title{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;

}
.add_card{
    all: unset;
    cursor: pointer;
    background-color: #000;
    text-align: center;
    padding: 1rem;
    color: #fff;
    margin-top: .7rem;
}

.shop img{
    width: 250px;
}
.shop_item{
    display: flex;
    flex-direction: column;
}
.shop_item span{
    margin-top: .5rem;
    margin-left: .5rem;
}
.shop{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    margin-top: 2rem;
}
.shop_c{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

/* category */



.category_img{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/category_img.jpg);
}
.category_list{
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
}
.category_list li{
    cursor: pointer;
}
.image_overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    align-items: center;
    justify-content: center;

}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    margin-bottom: .9rem;
}



/* footer */
h1{
    font-size: .9rem;
    font-weight: 600;
}
h2{
    font-size: .8rem;
    font-weight: 400;
    color: #7D7D7D;
    margin-bottom: 1.5rem;
}
.Email{
    border-bottom: solid #707070 .1rem;
    width: 100%;
}
.email-box{
    border: none;
}
.footer{
    display: grid;
    grid-template-columns: 250px 150px 200px;
    justify-content: space-between;
    background-color: white;
    padding: 3rem 4rem;
}
.footer div h1{
    margin-bottom: .2rem;
}





/* responsive design */

@media (max-width:745px){
    .shop img{
        width: 170px;
    }
}
@media (max-width:850px){
    .banners img{
        width: 100%;
        height: 86vh;
        object-fit: cover;
    }
    .banner1{
        display: none;
    }
    .banner2{
        display: none;
    }
    .banner_mobile{
        display: block;
    }
    .banner_info{
        width: 100%;
        background-color: rgb(255, 255, 255);
        top: 0;
    }
    .trend{
        display: none;
    }

}

@media (max-width: 900px){
    .shop{
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .search_container{
        display: none;
    }
    .menu-img{
        display: block;
    }

    /* footer responsive */
    .footer{
        display: flex;
        flex-direction: column;
        padding: 1.5rem .5rem;
        
    }
    h2{
        margin-bottom: .2rem;
    }
    .second{
        margin-top: 1.8rem;
    }
    .second div{
        margin-bottom: 1.8rem;
    }
}



